@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&family=Laila:wght@300;500&family=Open+Sans&family=Roboto:wght@100&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

.titulo{
    font-family: Laila;
}

.corpo{
    background-color: rgb(241, 216, 228) ;
}


.btn-form{
  background:  rgb(250, 53, 86);
}

.nav-link{
   
    font-family: Ubuntu;
    font-size: 28px;
}

.servico{
    text-decoration: underline pink;
    font-family: Ubuntu;
}

li{
    list-style: none;
    padding: 4px;
    font-family: Ubuntu;
}