@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&family=Laila:wght@300;500&family=Open+Sans&family=Roboto:wght@100&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

body{
    background-color: rgba(243, 237, 237, 0.425);
 
}

.titulo{
    font-size: 2rem;
    color:  rgba(0, 0, 0, 0.822);
    font-family:Inter;
    text-decoration: underline pink;
}

.label{
    color: black;
    font-size: 18px;
    font-family: Inter;
}

.btn{
    background:  rgb(250, 53, 86);
    color: white;
    font-family: Inter;
    border-radius: 2px;
    width: 150px;
    margin: 0  20px;
   
}

.btn:hover{
    background: #800808b2;
    color: white;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.89);
    font-family: Inter;
}

.form-control:focus{
    border-color: rgba(255, 192, 203, 0.815) !important;
    box-shadow:  0 0 0 0.10rem rgba(255, 10, 71, 0.164)  !important;
}

.errorInput{
    border: 2px solid rgb(141, 9, 9) !important;
}